body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('picss/background.png');
}
.headercontainer
{
   align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    padding: 20px;

    }   
.header1st img{
    max-height: 50px;
    margin-left: 155px;
       text-align: left;        
    }
.header2nd img{
    text-align: center;
    max-height: 50px;
}
.header3rd{
margin-right: 120px;

}
.header3rd a img{
text-align: right;
max-height: 40px;
width: 40px;
margin-right: 10px;
}
.navbar{
    border-top: white 1px solid;
    background-color: #d42323;
    color: white;
    font-family: "Khand", Sans-serif;
    font-size: 10px;
    padding: 10px 0;
    
}
.navbar nav {
    display: flex;
        text-align: center; 
    justify-content: center;
    gap: 10px;
}
.navbar div{
        text-align: center;
        }
.navheading{
     text-align: center;  
        font-size: 10px;
}
.redcircle img{
   height: 10px;
   margin: 16px 5px;

   color: #3c0a0a;
   
   
}
.navheading{
    margin: 0;
}
.bodypart{
   
    display: flex;
    flex: 1;
    gap: 45px;
    padding: 40px;
}
.firstimg{
    height: 500px;
    border-radius: 30px;
    border: 2px white solid;   
    margin-left: 100px;
      }
.secimg{
    height: 230px;
    border-radius: 30px;
    border: 2px white solid;
    width: 382px;
}
.thirdimg{
    height: 200px;
    width: 380px;
    border-radius: 30px;
    border: 2px white solid;
    position: relative;
    bottom:  85px;
    
}
.firstimg img{
    height: 500px;
    border-radius: 30px;
}
.secimg img{
    height: 230px;
    border-radius: 30px;
    
}
.headingfirst{
    color: white;
    height: 34px;
}
.imagecontainer{
    position: relative;
    
}
.firstbox{
    
position: absolute;
left: 150px;
top: 240px;
}
.button{
    color: white;
    font-size: 19px;
    font-weight: bold;
   background-color: #800000;
  width: 100px;
   text-align: center;
   padding: 10px;
 margin-bottom: 20px;
  
}
.firstheading{
    color: white;
font-size: 40px;
font-weight: bold;
}
.subtext{
    color: white;
    margin-top: 20px;
}
.secondimg{
    position:relative;
bottom: 140px;
left: 30px;
}
.secheading{
    color: white;
font-size: 24px;
font-weight: bold;
}
.secsubtext{
    color: white;
    margin-top: 20px;
}
.thirdcontainer{
    position:relative;
    top: 160px;
    left: 30px;
}
.thirdheading{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.thirdsubtext{
margin-top: 20px; 
    color: white;
}
.featuredheading h1{
    font-weight: bold;
    color: #ffffff;
   position: relative;
   bottom: 185px ;
   left: 170px;
   font-size: 32px;
   font-family: sans-serif;
}
.featuredbutton button{
   position: relative;
   bottom: 240px;
   left: 1100px;
   background-color: #d42323;
   color:#ffffff;
   padding: 15px 24px 15px 24px;
   font-size: medium;
   border-color: #d42323;
   
}
.featuredheading img{
    max-height: 200px;
    max-width: 200px;
    position: relative;
   bottom: 40px;
   left: 20px;
}
.fccontainer{
    display: flex;
    gap: 30px; /* Space between the cards */
    margin-left: 150px;
    position: relative;
    
}
.fcimages{
    display: flex;
    flex-direction: column; /* Stack image and title vertically */
}
.fcimg{
    height: 230px;
    width: 230px;
    border-radius: 25px;
    object-fit: cover;
    background-color: white;
    position: relative;
    top: -220px;
}
.fctitle{
    color: black;
    background-color: #ffffff;
    height: 60px;
    width: 230px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    line-height: 60px; /* Vertically center the text */
    position: relative;
    top: -250px;
}
.featuredarticles h1{
    font-weight: bold;
    color: #ffffff;
   position: relative;
   bottom: 395px ;
   left: 170px;
   font-size: 32px;
   font-family: sans-serif;
}
.featuredarticles img{
    max-height: 200px;
    max-width: 200px;
    position: relative;
   bottom: 250px;
   left: 20px;
}
.first img{
    border-radius: 20px;
    height: 230px;
    width: 350px;
    object-fit: fill;
    position: absolute;
    left: 150px;
    top: 1350px;
}

.firsttext{
    background-color: #d42323;
    color: #ffffff;
width: 45%;
border-end-end-radius: 30px;
border-top-right-radius: 30px;
height: 199px;
padding:15px 20px;
position: relative;
bottom: 350px;
left: 420px;
}
.firsttext a{
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;  
    font-weight: bold;
}

.firsttext p{
    font-size: 15px;
}
.second img{
    border-radius: 20px;
    height: 230px;
    width: 350px;
    object-fit: fill;
    position: absolute;
    left: 150px;
    top: 1600px;
}
.secondtext{
    background-color: #d42323;
    color: #ffffff;
width: 45%;
border-end-end-radius: 30px;
border-top-right-radius: 30px;
height: 201px;
padding:15px 20px;
position: relative;
left: 420px;
bottom: 349px;
}
.secondtext a{
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;  
    font-weight: bold;
}

.secondtext p{
    font-size: 10px;
}
.secondtext h5{
    font-size: 15px;
}
#aone{
    text-decoration: none;
color: #ffffff;
    border: #ffffff solid 2px;
    padding: 15px;
    position: relative;
    left: 170px;
    bottom: 290px;
}
.third img{
    border-radius: 20px;
    height: 230px;
    width: 350px;
    object-fit: fill;
    position: absolute;
    left: 150px;
    top: 1850px;
}
.thirdtext{
    background-color: #d42323;
    color: #ffffff;
width: 45%;
border-end-end-radius: 30px;
border-top-right-radius: 30px;
height: 200px;
padding:15px 20px;
position: relative;
left: 420px;
bottom: 330px;
}
.thirdtext a{
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;  
    font-weight: bold;
}
.thirdtext h5{
    font-size: 15px;
}
.forth img{
    border-radius: 20px;
    height: 230px;
    width: 350px;
    object-fit: fill;
    position: absolute;
    left: 150px;
    top: 2100px;
}
.forthtext{
    background-color: #d42323;
    color: #ffffff;
width: 45%;
border-end-end-radius: 30px;
border-top-right-radius: 30px;
height: 200px;
padding:15px 20px;
position: relative;
left: 420px;
bottom: 310px;
}
.forthtext a{
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;  
    font-weight: bold;
}
.forthtext h5{
    font-size: 15px;
}
.fifth img{
    border-radius: 20px;
    height: 230px;
    width: 350px;
    object-fit: fill;
    position: absolute;
    left: 150px;
    top: 2350px;
}
.fifthtext{
    background-color: #d42323;
    color: #ffffff;
width: 45%;
border-end-end-radius: 30px;
border-top-right-radius: 30px;
height: 200px;
padding:15px 20px;
position: relative;
left: 420px;
bottom: 290px;   
}
.fifthtext a{
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;  
    font-weight: bold;
}
.fifthtext h5{
    font-size: 15px;
}
.articlescontainer{
    border-bottom: #ffffff solid 1px;
    display: flex;
   height: 950px;
}
.featureddarticles h1{
    position: relative;
    left: 80px;
    bottom: 453px;
        font-size: 15px;
        color: #ffffff;
        font-weight: bold;
}
.featureddarticles img{
    max-height: 100px;
    max-width: 100px;
    position: relative;
   bottom: 380px;
}
.listone{
 gap: 20px;
    display: flex;
}
.listone h1{
    color: #ffffff;
    font-size: 15px;
    margin-top: -425px;
    line-height: 22px;
}
.listone img{
    max-height: 100px;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: -430px;
}

.listtwo{
    gap: 20px;
    display: flex;}

.listtwo h1{
    color: #ffffff;
    font-size: 15px;
    margin-top: -295px;
    line-height: 22px;
}

 .listtwo img{
    max-height: 100px;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: -300px;
 }   

.listthree{
    gap: 20px;
    display: flex;
}    
.listthree h1{
    color: #ffffff;
    font-size: 15px;
    margin-top: -165px;
    line-height: 22px;
}
.listthree img{
    max-height: 100px;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: -170px;
}
.listfour{
    gap: 20px;
    display: flex;
}
.listfour h1{
    color: #ffffff;
    font-size: 15px;
    margin-top: -35px;
    line-height: 22px;
}
.listfour img{
    max-height: 100px;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: -40px;
}
.listfive{
    gap: 20px;
    display: flex;
}
.listfive h1{
    color: #ffffff;
    font-size: 15px;
    margin-top: 25px;
    line-height: 22px;
}
.listfive img{
    max-height: 100px;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 25px;
}
.footer{
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 150px;
    background-color: #181818;
 height: 400px;   
  padding-top: 70px;
}
.footerone{
    padding-left: 200px;
}
.footerone img{
    max-height: 40px;
}
.footerone p{
    max-width: 250px;
}
.footertwo h2{
font-size: 15px;
}
.footertwo a{
    color:#ffffff;
    text-decoration: none;
    text-align: right;
    line-height: 40px;

}
.hover:hover{
    color: red;
}
.footerthree{
    line-height: 30px;
   width: 100%;
}
.footerthree h2{
    font-size: 15px;
}
.footerfour img{
    max-height: 40px;
    max-width: 40px;
margin-top: 290px;
}
.foooter{
    color: #ffffff;
    background-color: #181818;
    height: 50px; 
    position: relative;
    bottom: 30px;
    border-top: #ffffff solid 1px;
    text-align: center;
    padding: 20px;
}
